@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    font-weight: bold;
    height: 100%;
    background-color: #F2F3D9;
}

.container {
    /* display: grid;
    grid-template-columns: 250px 1fr 0; */
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
}

.menu-item {
    margin: 140px 0;
}

.title {
    padding: 0 30px;
}

#menu img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -20px;
}

.title p {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indianred;
    margin: 0;
}

.border {
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}

.menu-item a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 12px 0;
    color: rgb(128, 129, 129);
    font-weight: 300;

}

.menu-item a:hover {
    background: rgb(250, 212, 218);
}

#food-items {
    /* background: whitesmoke; */
    overflow: auto;
    height: calc(100vh - 86px);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    /* background: whitesmoke; */
    z-index: 1;
}
#header h1{
    font-size: 40px;
    margin: -12px 10px;
    font-family: 'Lora', sans-serif;
    color:  #070F2B;
}

::-webkit-scrollbar {
    display: none;
}

#header .address {
    font-size: 20px;

}

#map {
    font-size: 25px;
    color: red;
}

.your-address {
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.add-box i {
    font-size: 20px;
}

#header select {
    width: 150px;
    overflow: hidden;
    border: none;
    outline: none;
    background: none;
    color: rosybrown;
    padding: 0 5px;
}

.food-items {
    display: none;
}

.cart-toggle {
    display: block;
}

.util {
    display: flex;
}
/*poppup button styling*/

.poppup,
.poppup-ch {
    width: 350px;
    height: 200px;
    background: #fff;
    position: absolute;
    display: grid;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px 30px;
    color: #333;
    z-index: 99;
    visibility: hidden;
}

.poppup img,
.poppup-ch img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
    /* transition: 0.1s all ease-out; */
}

.poppup h2,
.poppup-ch h2 {
    font-size: 28px;
    color: #070F2B;
    margin: 10px 0;

}

.poppup p,
.poppup-ch p{
    font-size: 16px;
    color: #070F2B;
    padding: 2%;
}

.poppup button,
.poppup-ch button{
    padding: 10px 20px;
    background: #070F2B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -2px;
    /* transition: 0.3s all ease-in-out; */
}

.poppup button:hover,
.poppup-ch:hover {
    background: #fff;
    color: #070F2B;
}

.poppup-show{
    visibility: visible;
}
.poppup-hide{
    visibility: hidden;
}
/*///////////////////////////////////////////*/

.util i,
.user i {
    font-size: 18px;
    margin: 0px 12px;
    border: 1px solid #777777;
    padding: 6px 27px;
    color: #C40C0C;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: auto;
}
.util i:hover,
.user i:hover {
    font-size: 18px;
    margin: 0px 12px;
    border: 1px solid #777777;
    padding: 6px 27px;
    color: #F2F3D9;
    background-color: #C40C0C;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: auto;
}
.util i:active {
    color: #F2F3D9;
    background: #070F2B;
}

#biryani,
#paneer,
#chicken,
#vegetable,
#chinese,
#south-indian {
    margin-top: 40px;
}

#paneer #item-card,
#vegetable #item-card {
    background: rgb(218, 253, 188);
}

#chinese #item-card,
#south-indian #item-card {
    background: rgb(221, 243, 243);
}

#category-name,
.item-menu {
    margin: 10px;
    display: none;
    font-size: 35px;
    color: coral;
    font-family: 'Aclonica', sans-serif;
}

#item-card {
    width: 19%;
    height: 33%;
    padding: 2%;
    margin: 1%;
    display: inline-block;
    border-radius: 5px;
    background: #bed1cf;
    cursor: pointer;
}

#item-card img:hover {
    transform: scale(1.15);
    transition: 0.3s all ease-in-out;
}

#card-top {
    /* background-color: #ffa500ad;
   
    border: 2px solid orange;
    border-radius: 6px; */
    margin-bottom: 15px;
}

#card-top i,
#card-top i:active,
#card-top i::after{
    /* padding: 4px 65px;  */
    background-color: #CD8D7A;
    border: 2px transparent;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.add-more {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: whitesmoke;
    color: #C40C0C;
    padding: 5px 10px;
    position: absolute;
    top: 13px;
    right: 8.5%;
    cursor: pointer;
    border-radius: 10px;
    border-color: transparent;
}
.add-more:hover {
    background-color: #C40C0C;
    color: #F2F3D9;
    border-color: transparent;
}
.add-more:active {
    background-color: #070F2B;
    color: #C40C0C;
    border-color: transparent;
}
#card-top i:hover {
    /* padding: 4px 65px;  */
    color: #CD8D7A;
    background-color: #070F2B;
    border: 2px transparent;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

#rating {
    padding: 7px;
    color: goldenrod;
    background: black;
    font-size: 14px;
    border-radius: 15px;
}

.fa-heart-o {
    padding: 6px;
    border-radius: 50%;
    background: #CD8D7A;
    cursor: pointer;

}

.toggle-heart {

    color: #070F2B;
    /* background-color: black; */
    border: 2px solid #1c1c1c;


}

#item-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s all ease-in-out;
}

#item-name {
    margin: 5px 0;
    font-weight: 600;
    color: #070F2B;
    font-size: 22px;
}

#item-price {
    margin: 0;
    color: #1a2334;
    font-weight: 500;
    font-size: 18px;
}

.food-items {
    display: none;
}

.cart-toggle {
    display: none;
}

#cart-page {
    background-color: #bed1cf;
    margin: 30px 3px;
    border-radius: 10px;
    /*padding: 0px 0px;*/
    padding-bottom: 7px;
    margin-top: 1px;
    padding-left: 10px;
    position: relative;
    color: #070F2B;
}
#cart-title {
    margin-top: 10px;
    font-size: 35px;
    padding: 10px;
    color: #C40C0C;
}

#cart-page table {
    width: 96%;
    margin-top: -30px;
    text-align: center;
    margin-bottom: 12px;
}

#cart-page table thead td {
    padding: 15px 0px;
    font-size: 22px;
}

.cart-btn {
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}
.cart-btn:hover {
    background: #070F2B;
}
.cart-btn:active {
    background: #DD761C;
}
#cart-page table tbody td {
    padding: 10px 0;
    font-size: 20px;
}

#cart-page table tbody button {
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

#cart-page table tbody img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#checkout {
    text-align: center;
    /* margin: 40px auto; */
    border-radius: 5px;
    background: #ffffffeb;
    width: 20%;
    padding: 10px 20px;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#checkout p {


    margin: 15px 0;
    float: left;
}

#total-price,
#total-item {
    font-size: 25px;
    color: indianred;
}

#delievery {
    font-size: 20px;
    color: limegreen;
}

#cart {
    /* background: whitesmoke; */
    padding-right: 30px;
    overflow-y: scroll;
}

.item-menu {
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
    /* background: whitesmoke; */

}

.list-card {
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.list-card:hover {
    background: rgb(255, 216, 222);
}

.list-card:hover img {
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
}

.list-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.list-name {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94, 43, 43);
}

.taste-header {
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    /* background: whitesmoke; */
}

.add-to-cart {
    margin: auto;
    /* background-color: orange; */
    padding: 4px 0px;
}

#mobile-view {
    display: none;
    background-color: #F2F3D9;
}

#biryani {
    margin-top: 10px;
}

#m-total-amount {
    display: none;
}

.mob_checkoutbtn {
    display: none;
}

.node-list span {
    color: crimson;
    font-weight: bold;
}

.login_cont {
    position: absolute;
    height: fit-content;
    width: 30%;
    background-color: #000000ed;
    right: 35%;
    top: 15%;
    color: white;
    display: none;
    z-index: 100;
}

.login_cont div {
    display: flex;
    margin: 83px auto;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 -19px;
    align-items: center;
}

#scan_text {
    font-size: 25px;
    font-weight: bold;
    color: #feb749;
}

.login_cont p {
    cursor: pointer;
}

#l_video {
    width: 60%;
    border: 1px solid #feb749;
}

.login_cont span {
    font-size: 28px;
    position: absolute;
    right: 5%;
    top: 5%;
    font-family: cursive;
    cursor: pointer;
}
.login_cont p b{
    text-decoration: none;
}
.result{
    color: white;
}
@media screen and (max-width : 800px) and (-webkit-min-device-pixel-ratio: 2) {
    .m-login {
        position: fixed;
        bottom: 10%;
        right: 5%;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 18px;
        margin: 0 16px;
        border: 1px solid whitesmoke;
        padding: 10px 30px;
        color: #C40C0C;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #F2F3D9;
        width: auto;
    }

    .container {
        display: none;
    }

    #mobile-view {
        display: grid;
        grid-template-rows: 75px 1fr 50px;
        /* height: 100%; */
        overflow: hidden;

        width: 101%;
    }

    .mobile-top {
        padding: 25px 15px;
        background: #f2f3d9;
        z-index: 1;
    }

    .top-menu h1 {
        font-size: 27px;
        margin: 0px 0px;
        font-family: 'Aclonica', sans-serif;
        color: #070F2B;
    }

    .item-container {
        overflow-y: scroll;
    }

    .logo-box,
    .top-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        width: 90px;
        height: 70px;
    }

    .logo-box .your-address {
        font-size: 18px;
        width: 150px;
        color: crimson;
        text-transform: capitalize;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-menu {
        color: indianred;
    }

    .top-menu i {
        font-size: 20px;
        cursor: pointer;
        padding: 12px 5px;
        border-radius: 50%;
        width: 50px;
        color: #070F2B;
        text-align: center;
    }

    .m-cart-toggle {
        color: #F2F3D9;
        /*background: #C40C0C*/;
    }

    .category-header {
        display: flex;
        width: 100vw;
        overflow-x: scroll;
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
        border-bottom: 1px solid rgb(219, 219, 219);
        margin: 0;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }

    .toggle-category {
        display: none;
        position: relative;
    }

    .list-card {
        margin: 0 10px;
        text-align: center;
    }

    .list-card img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .list-card:hover {
        background: none;
    }

    .list-card:hover img {
        transform: none;
        transition: none;
    }

    .list-name {
        margin: 5px 0;
        color: coral;
        width: max-content;
        font-size: 16px;
    }

    #food-items {
        padding: 5px 10px;
    }

    .mobile_checkoutbtn {
        display: none;
    }

    .mobile-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        background: white;
        border-top: 1px solid rgb(219, 219, 219);
    }

    .mobile-footer {
        color: indianred;
        text-transform: uppercase;
        font-size: 16px;
        position: static;
    }

    #category-name {
        font-size: 25px;
        font-family: 'Aclonica', sans-serif;
    }

    #item-card {
        width: 140px;
        height: 200px;
        padding: 5% 5.75%;
    }

    #item-card img {
        width: 100px;
        height: 100px;
    }

    #item-name,
    #item-price {
        font-size: 16px;
    }

    .list-card {
        flex-direction: column;
    }

    #cart-page {
        margin: 3px 0;
        padding: 10px 5px;
        padding-bottom: 30px;
        border-top: 1px solid rgb(219, 219, 219);
    }

    #cart-page table thead td {
        font-size: 20px;
    }

    #cart-page table tbody td {
        font-size: 18px;
    }

    #cart-page table tbody img {
        width: 60px;
        height: 60px;
    }

    #cart-title {
        font-size: 25px;
        display: inline-block;
        font-family: 'Aclonica', sans-serif;
    }

    #m-total-amount {
        display: inline-block;
        color: lightcoral;
        padding: 5px 10px;
        margin: 0;

        border: 1px solid lightcoral;

    }

    .cart-btn {
        font-size: 14px;
        background: lightcoral;
        padding: 8px 15px;
        /* margin: auto; */
        position: absolute;
        right: 3%;
        bottom: 0%;
        outline: none;
        border: none;
        /* background: crimson; */
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        font-size: 18px;
        text-transform: uppercase;
        bottom: 30px;
        margin: 15px 0;
        cursor: pointer;
    }
    

    .btn-box {
        text-align: center;
    }

}

@media screen and (max-width : 400px) and (-webkit-min-device-pixel-ratio: 2) {
    #mobile-view {
        min-height: -webkit-fill-available;
    }

    #item-card {
        height: 200px;
        width: 36%;
    }

    #food-items {
        padding: 0;
    }
    .login_cont {
        position: absolute;
        height: fit-content;
        width: 60%;
        background-color: #252222ed;
        right: 20%;
        top: 15%;
        color: white;
        display: none;
        z-index: 100;
    }
    
    .login_cont div {
        display: flex;
        margin: 83px auto;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    
    #scan_text {
        font-size: 13px;
        font-weight: bold;
        color: #feb749;
    }
    
    .login_cont p {
        font-size: 11px;
        cursor: pointer;
    }
    
    #l_video {
        width: 85%;
        border: 1px solid #feb749;
    }
    
    .login_cont span {
        font-size: 28px;
        position: absolute;
        right: 5%;
        top: 5%;
        font-family: cursive;
        cursor: pointer;
    }
    
}






/* ***********************Admin css*********************** */
#cartDisplay {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #ffa500ad;
    padding: 40px;
}

.admincontainer {
    width: 100vw;
}

.node-list {
    background-color: rgb(253, 221, 226);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 30px 22px;
    font-size: 20px;
    color: darkslategray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 13px;
    border: 1px solid black;
    height: 100px;
    overflow-x: scroll;
    margin: 16px 17px;
}

.delivery_btn {
    outline: none;
    border: none;
    background: rgb(233, 6, 6);
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    /* bottom: 18%; */
    /* right: 29%; */
    margin: 15px 0;
    cursor: pointer;
}

.display-none {
    display: none;
}

#qrResult {
    color: #695252;
}

#video {
    width: 7%;
    display: block;
}